:root{
    --color:#bdc3c7;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: rgba(0, 0, 0, .9)
}
header{
    align-items: center; 
    display: flex;
}
.logo{
    margin: 5px 
}
.logo img{
    background: transparent;
    height: 15vh;
    padding: 5px  ;
    left: 20rem;
    border: 1px solid red ;
}
.menu{
    margin-left: 20rem;
    justify-content: center;
}
.menu .list{
    align-items: center; 
    display: flex;
    list-style-type: none;
    padding: 15px;
    text-decoration: none;
    
}
.list a{
    align-items: center; 
    display: flex;
    padding: 15px;
    text-decoration: none;
    
}
.list .back, 
.list .image, 
.list .person{
    color: var(--color);
    cursor: pointer;
    margin-right: 20px;
   
}

.back img{
    border: 1px solid red;
    height: 7vh;
    
}

.book{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    border: 1px solid blue;
}